$primary: #65C595;
$secondary: #4facfe;
$white: #FEFEFE;
$black: #131313;
$light-black: #727272;
$light-grey: #D7D5D6;
$dim-grey: #737373;

// $blue-gradient: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
$blue-gradient: linear-gradient(to bottom, #4facfe 0%, #00f2fe 100%);
$blue-gradient-b: linear-gradient(to bottom, #4facfe 0%, #00f2fe 100%);
$cloud-gradient: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);

// 185 width height 18px